#gN{
    font-size: 22px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}
.inputNumberbox{
    display: flex;
    justify-content: center;
}
#paragraph{
    background-color: aqua;
    color: black;
    padding: 30px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 23px;
}
.header{
    background-color: gold;
    color: gray;
    padding: 20px;
    text-align: center;
}
.instructions{
    background-color: gray;
    color: gold;
    padding: 20px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}
.testing{
    color: rgb(140, 245, 119);
}